panda3d
types-panda3d
ursina
python-i18n
pytest
pytest-cov
poetry-core
pymarkdownlnt
tqdm # used in the build script

# This is used by the tech tree to generate a graph of the dependencies
graphviz
python-semantic-release
ruff